:root {
  --main-bg-color: #4f6367;
  --light-color: #eef5db;
  --accent-color: #fe5f55;
  --grey-color-1: #7a9e9f;
  --grey-color-2: #b8d8d8;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: url("./images/desert-5112222.svg");
  background-repeat: repeat-x;
  background-color: var(--main-bg-color);
  background-size: cover;
}

.vsc-initialized {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  background-color: rgb(53,59,67);
  border-radius: 20px;
}

.main-font {
  font-family: "Bebas Neue", cursive;
  font-family: "Patua One", cursive;
  font-family: "Staatliches", cursive;
}

.main-font-color {
  color: var(--grey-color-1)
}

::-webkit-scrollbar {
  background: none;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--light-color);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--cream-color);
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 3vw;
  max-width: 90vw;
  height: 75vh;
  padding: auto 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--grey-color-1);
}

p {
  color: var(--grey-color-1);
}

span {
  font-family: "Bebas Neue", cursive;
  font-family: "Patua One", cursive;
  font-family: "Staatliches", cursive;
  font-size: 1.3rem;
}

.btn {
  background-color: var(--grey-color-1) !important;
  font-family: "Bebas Neue", cursive;
  font-family: "Patua One", cursive;
  font-family: "Staatliches", cursive;
  text-align: center;
  align-self: center;
  opacity: 0.92;
}

.btn-active {
  background-color: var(--accent-color) !important;
}

#email {
  color: var(--main-bg-color);
  font-weight: bold;
}

#about-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5vh 20vw;
}

#resume-container {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#resume {
  width: 100%;
  height: 90vh;
  border-style: solid;
  border-width: 10px;
  border-color: var(--light-color);
  border-radius: 10px;
  background-color: var(--main-bg-color);
  padding: 0 3vw;
}

#resume iframe {
  width: 800px;
}

#project-container {
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  background-color: var(--main-bg-color);
  border: var(--grey-color-1) 2rem solid;
  border-radius: 1rem;
}

.project {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--grey-color-2);
  font-family: "Bebas Neue", cursive;
  font-family: "Patua One", cursive;
  font-family: "Staatliches", cursive;
  border-radius: 5px;
  max-width: 60rem;
  max-height: 50vh;
}

.project-technologies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 0 1;
  margin: 0.1vh auto;
  border-radius: 5px;
}

.tech-used {
  margin: 0.01vh 0.08vw;
}

.tech-used-img {
  width: 100%;
}

.project-header {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.3rem;
  color: var(--accent-color)
}

h2 {
  color: var(--accent-color);
}

.project-details {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: left;
  flex: 1 0;
}

.project-links {
  display: flex;
}

.project-link {
  font-size: 1.1rem;
  color: rgb(2, 149, 175);
  margin: 0 0.8rem;
}

.project-des {
  color: var(--grey-color-2);
  background-color: #4f6367c6;
  max-height: 35vh;
  overflow: scroll;
}

.project-img {
  width: 30vw;
  height: 35vh;
  flex: 0 1;
}

.form-label {
  font-family: "Bebas Neue", cursive;
  font-family: "Patua One", cursive;
  font-family: "Staatliches", cursive;
}

footer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

@media only screen and (max-width: 600px) {

  body {
    background-size: cover;
    width: 100%;
    height: 110vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  nav {
    display: flex;
    flex-direction: row;
  }

  .btn {
    width: 60%;
    height: 3vh;
    flex: 1 0;
  }

  nav span {
    font-size: 0.9rem;
    text-align: justify;
  }

  #about-container {
    padding: 2vw;
  }

  #resume {
    width: 95vw;
    height: 65vh;
    margin: 0;
    padding: 0;
  }

  #resume iframe {
    width: auto;
  }

  #project-internals {
    width: 100%;
  }

  #project-container {
    overflow: auto;
    display: flex;
    flex-direction: column;
    width: 95vw;
    border: var(--grey-color-1) 0.7rem solid;
    border-radius: 1rem;
  }
  
  .project {
    flex-direction: column;
    max-height: none;
    max-width: none;
    margin: 3vh 0;
  }

  #project-internals {
    margin: 1vh 0;
  }

  .project-img {
    width: 98%;
    height: 100%;
  }

  .project-des {
    font-size: 0.8rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
}
