:root {
  --main-bg-color: #4f6367;
  --light-color: #eef5db;
  --accent-color: #fe5f55;
  --grey-color-1: #7a9e9f;
  --grey-color-2: #b8d8d8;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

.vsc-initialized {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./assets/images/desert-5112222.svg");
  background-repeat: repeat-x;
  background-color: var(--main-bg-color);
  background-size: cover;
}

.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  background-color: rgb(53,59,67);
  border-radius: 20px;
}

main {
  margin: 0 auto;
  max-width: 90%;
  padding: 50px 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--grey-color-1);
}

p {
  color: var(--grey-color-1);
}

span {
  font-family: "Bebas Neue", cursive;
  font-family: "Patua One", cursive;
  font-family: "Staatliches", cursive;
  font-size: 1.3rem;
}

.btn {
  background-color: var(--grey-color-1) !important;
  font-family: "Bebas Neue", cursive;
  font-family: "Patua One", cursive;
  font-family: "Staatliches", cursive;
  text-align: center;
  align-self: center;
}

.btn-active {
  background-color: var(--accent-color) !important;
}

#resume {
  border-style: solid;
  border-width: 10px;
  border-color: var(--light-color);
  border-radius: 10px;
  background-color: var(--main-bg-color);
}

.project {
  background-color: var(--grey-color-2);
  font-family: "Bebas Neue", cursive;
  font-family: "Patua One", cursive;
  font-family: "Staatliches", cursive;
  border-radius: 150px 60px;
}

.project-header {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.3rem;
  color: var(--accent-color)
}

.project-gh {
  font-size: 1.1rem;
  color: var(--accent-color);
}

.project-des {
  color: var(--grey-color-2);
  background-color: #4f6367c6;
  height: 25%
}

.form-label {
  font-family: "Bebas Neue", cursive;
  font-family: "Patua One", cursive;
  font-family: "Staatliches", cursive;
}
